{% extends 'base.html.twig' %}

{% block title %}Ecoride - {{ user.username }}{% endblock %}

{% block main %}
<div class="eco-container-main">

    {% include 'partials/_flashes.html.twig' %}
    
    <p>Prénom : {{ user.firstName }}</p>
    <p>Nom : {{ user.lastName }}</p>
    <p>Pseudo : {{ user.username }}</p>

    {% if is_granted('ROLE_ADMIN') %}
        {% if isBanned%}
            <form action="{{ path('app_admin_unban', { 'uuid': user.uuid }) }}" method="POST">
                <input type="hidden" name="_token" value="{{ csrf_token('unban' ~ user.uuid) }}">
                <button type="submit" class="btn btn-warning">
                    Débannir
                </button>
            </form>
        {% else %}
            <a href="{{ path('app_admin_ban', {'uuid': user.uuid}) }}" class="btn btn-danger text-white">Bannir</a>
        {% endif %}
    {% endif %}
</div>

{% endblock %}
