<div class="form-header eco-page-text text-center">
    <h1>{{ title }}</h1>
</div>

<div class="eco-container-main">

    {% include 'partials/_flashes.html.twig' %}

    {{ form_start(form, {'attr': {'class': 'eco-form'}}) }}

    {% for field_name, field in form %}
        {# If the field type is repeated #}
        {% if '_repeated' in field.vars.cache_key %}
            {{ form_row(field.first, {'label': labels[field_name ~ '_first'], 'label_attr': {'class': 'eco-bold-text'}}) }}
            {{ form_row(field.second, {'label': labels[field_name ~ '_second'], 'label_attr': {'class': 'eco-bold-text'}}) }}
        {% else %}
            {% if field_name != 'submit' and field_name != '_token'%}
                {{ form_row(field, {'label': labels[field_name], 'label_attr': {'class': 'eco-bold-text'}}) }}
            {% endif %}
        {% endif %}
    {% endfor %}

    {{ form_row(form.submit, {'label': submit_label, 'attr': {'class': 'eco-btn'}}) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
</div>