{% set route = app.request.get('_route') %}
<header> 
{# navbar navbar-expand-lg bg-light  #}
    <nav id="navbar" class="container navbar navbar-expand-md" aria-label="Navigation principale">
        <a id="nav-brand" class="eco-title-text text-decoration-none color-interact" href="{{ path('app_home') }}">
            EcoRide
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" title="Menu">
            {{ ux_icon('ion:menu-outline', {class: 'travel-search-icon'}) }}
        </button>
        
        <div id="navbarNav" class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li>
                    <a class="eco-nav-link eco-normal-text {{ route == 'app_home' ? 'eco-nav-active' : '' }}" href="{{ path('app_home') }}">Accueil</a>
                </li>
                <li>
                    <a class="eco-nav-link eco-normal-text {{ route == 'app_travel_index' ? 'eco-nav-active' : '' }}" href="{{ path('app_travel_index')}}">Voyager</a>
                </li>
                <li>
                    <a class="eco-nav-link eco-normal-text {{ route == 'app_contact' ? 'eco-nav-active' : '' }}" href="{{ path('app_contact') }}">Contact</a>
                </li>
            </ul>

            {# If the user is logged in #}
            {% if app.user %}
                <a href="{{ path('app_profile_index') }}" target="_self">
                    <div class="profile-picture">
                        {% include 'partials/_user_img.html.twig' with {
                                username: app.user.username,
                        } %}
                    </div>
                </a>
            {% else %}
                {# Disable hx-boost on login/register links #}
                <div class="d-inline-flex align-items-center" hx-boost="false">
                    <div>
                        <a class="eco-nav-link eco-normal-text" href="{{ path('app_login') }}">Connexion</a>
                    </div>
                    <a class="eco-btn ms-2" href="{{ path('app_register') }}">Inscription</a>
                </div>
            {% endif %}
            
        </div>
    </nav>
</header>
