{% extends 'base.html.twig' %}

{% block title %}EcoRide - Modérateurs{% endblock %}

{% block main %}
{% include 'partials/_profile_nav.html.twig' %}
<div class="eco-container-main d-flex flex-column gap-4">
    <div class="d-flex flex-wrap justify-content-between align-items-center mb-4">
        <h1 class="eco-title-text d-block">Liste des modérateurs</h1>
        <a href="{{ path('app_admin_moderator_new') }}" class="eco-btn">
            Ajouter un modérateur
        </a>
    </div>

    {% include 'partials/_flashes.html.twig' %}

    {% for moderator in moderators %}
        <article class="card">
            <div class="card-body">
                <a href="{{ path('app_member_show', { uuid: moderator.uuid }) }}" target="_blank" class="d-flex align-items-center gap-2 w-fit">
                    {% include 'partials/_user_img.html.twig' with {
                            username: moderator.username,
                            avatar: moderator.avatarUrl
                    } %}
                    <p class="d-flex flex-wrap gap-3 w-fill"><span>{{ moderator.username }}</span><span>{{ moderator.phone }}</span><span>{{ moderator.email }}</span></p>
                </a>
            </div>
        </article>
    {% endfor %}
</div>
{% endblock %}
