{# Single travel overview #}
{% macro overview(travel, criteria) %}
{% set isEcological = travel.fuelType.value == 'electric' %}
<article class="travel-card travel-card-index{{ isEcological ? ' border-interactive' : '' }}">

    {# Profile #}
    <div class="ga-profile">
        {% include 'components/profile.html.twig' with {
            'userUuid': travel.driverUuid,
            'username': travel.driverUsername,
            'userRating': travel.driverRating
        } %}
    </div>

    {# Schedule #}
    <div class="ga-schedule">
        {% include 'travel/partials/_schedule.html.twig' with {
            date: travel.date,
            duration: travel.duration,
            arrivalDateTime: travel.arrivalDateTime
        } %}
    </div>

    {# Cost #}
    <div class="ga-price">
        {% include 'travel/partials/_price.html.twig' with {
            cost: travel.cost,
            slot: criteria.minPassengers
        } %}
    </div>

    {# Addresses #}
    <div class="ga-address eco-small-text">
        <p>{{ criteria.departure }}</p>
        <p>{{ criteria.arrival }}</p>
    </div>

    {# Passengers #}
    <div class="ga-places eco-normal-text">
        {{ ux_icon('ion:people', {class: 'h-75'}) }}
        <p>{{ travel.currentPassengers }}/{{ travel.passengersMax }}</p>
    </div>

    {# Date #}
    <div class="ga-date eco-small-text">
        <time datetime="{{ travel.date | date('Y-m-d') }}">{{ travel.date | date('d/m/Y') }}</time>
    </div>

    {# Details #}
    <a class="ga-details eco-btn ms-2 eco-normal-text" target="_blank"
        href="{{ path('app_travel_show', { uuid: travel.travelUuid, slot: criteria.minPassengers }) }}">
        Details
    </a>

</article>
{% endmacro %}