{% extends 'base.html.twig' %}

{% block title %}EcoRide - Voyager{% endblock %}

{% block importmap %}
    {{ importmap(['app', 'travel.css']) }}
{% endblock %}

{% block main %}
{% if map %}
    {{ ux_map(map, {'id': 'map'}) }}
{% endif %}

<div class="eco-container-main">

    {% include 'partials/_flashes.html.twig' %}

    <article class="travel-card travel-card-show">
        {# Date #}
        <div class="ga-date eco-small-text justify-self-center">
            <time datetime="{{ travel.date | date('Y-m-d H:i') }}">{{ travel.date | format_datetime(locale='fr', pattern='EEEE d MMMM Y') }}</time>
        </div>

        {# Schedule #}
        <div class="ga-schedule">
            {% include 'travel/partials/_schedule.html.twig' with {
                date: travel.date,
                duration: travel.duration,
                arrivalDateTime: arrivalDateTime
            } %}
        </div>

        {# Passengers #}
        <div class="ga-places">
            {{ ux_icon('ion:people', {class: 'h-75'}) }}
            <p class="eco-bold-text">{{ usedSlots }}/{{ travel.passengersMax }}</p>
        </div>

        {# Addresses #}
        <div class="ga-address">
            <p>{{ travel.departure }}</p>
            <p>{{ travel.arrival }}</p>
        </div>

        {# Properties #}
        <div class="ga-properties">
            {% include('travel/partials/_properties.html.twig') with {
                ecologic: travel.car.fuelType.value == 'electric',
                animals: travel.getTravelPreference().isPetsAllowed(),
                smoking: travel.getTravelPreference().isSmokingAllowed(),
                luggage: travel.getTravelPreference().getLuggageSizeEnum()
            } %}
        </div>
    </article>

    <article id="driver">
        <h2 class="eco-normal-text eco-bold-text">Conducteur</h2>
    </article>

    <article id="car">
        <h2 class="eco-normal-text eco-bold-text">Véhicule</h2>
    </article>

    <article class="travel-interaction">
        <form action="" method="POST" class="ga-message">
            <button type="submit" class="eco-btn eco-normal-text color-interact">
                Envoyer un message
            </button>
        </form>

        <div class="ga-price">
            {% include 'travel/partials/_price.html.twig' with {
                cost: travel.cost,
                slot: slot
            } %}
        </div>
        <form action="{{ path('app_travel_book', {'uuid32': travel.uuid | replace({'-': ''})})}}" method="POST" class="ga-book">
            <input type="hidden" name="slot" value="{{ slot }}">
            <button type="submit" class="eco-btn eco-normal-text">
                Réserver {{ slot }} place{% if slot > 1 %}s{% endif %}
            </button>
        </form>
    </article>
</div>
{% endblock %}