<article class="profile-component w-100 h-100">
    <a href="{{ path('app_member_show', { uuid: userUuid }) }}" target="_blank" class="eco-small-text">
        <div class="profile-picture">
                <img    src="{{ asset('images/ui/profile-placeholder.jpg') }}"
                        alt="Image de profil de {{ userName | decrypt }}">
        </div>
        <div class="profile-info">
            <p class="m-0 text-center">{{ userName | decrypt }}</p>

            {% if userRating > 0 %}
            <div class="rating d-flex justify-content-center">
                {{ ux_icon('ion:star', {class: 'icon'}) }}
                <p class="m-0">{{ userRating }}</p>
            </div>
            {% endif %}
        </div>
    </a>
</article>