{% extends 'base.html.twig' %}

{% block title %}EcoRide - Voitures{% endblock %}

{% block main %}
{% include 'partials/_profile_nav.html.twig' %}
<div class="eco-container d-flex flex-column gap-4">
    <div class="d-flex flex-wrap justify-content-between align-items-center mb-4">
        <h1 class="eco-title-text d-block">Mes voitures</h1>
        <a href="{{ path('app_car_new') }}" class="eco-btn">
            Ajouter une voiture
        </a>
    </div>

    {% include 'partials/_flashes.html.twig' %}

    {% for car in cars %}
        <div class="car-card-index">
            {% if car.isRemoved %}
                <p class="ga-car-is-removed">supprimée</p>
            {% else %}
                {# bouton supprimer #}
                <form method="post" action="{{ path('app_car_remove', { 'uuid': car.uuid }) }}" class="ga-car-btn">
                    <input type="hidden" name="_token" value="{{ csrf_token('remove' ~ car.uuid) }}">
                    <button name="remove" class="btn btn-danger">X</button>
                </form>
            {% endif %}

            <h2 class="ga-car-brand">{{ car.brand.name }}</h2>
            <h2 class="ga-car-model">{{ car.model.name }}</h2>
            <p class="ga-car-plate">Plaque d'immatriculation: {{ car.plate }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}
